@font-face {
  font-family: G-Roboto-n5;
  font-display: swap;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmEU9vAx05IsDqlA.ttf');
}
@font-face {
  font-family: G-Roboto-n7;
  font-display: swap;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmWUlvAx05IsDqlA.ttf');
}
@font-face {
  font-family: G-Roboto-n4;
  font-display: swap;
  src: url('../data/fonts/roboto_v20_KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf');
}